<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EatWell App</title>
  </head>
  <body>
    <h3>Welcome</h3>
    <div class="container">
      <h5>Enter your table name</h5>
      <form action="/hello" method="post">
        <label for="name">Your table name</label>
        <input type="text" name="name" placeholder="enter your table name">
        <button type="submit" name="button">Enter</button>
      </form>
    </div>
  </body>
</html>
